div.menu .burger {
  position: absolute;
  right: -64px;
  top: 0;

  display: flex;
  align-items: center;
  flex-direction: column;

  transition: right 500ms ease-in-out; 

  padding: 12px 8px;
  cursor: pointer;
}

div.menu .burger.collapsed {
  right: 0;
}

div.menu .burger .bar {
  background-color: currentColor;

  border-radius: 2px;
  margin-top: 8px;

  color: #ccc;

  width: 48px;
  height: 8px;
  transition: width 500ms ease-in-out,
              transform 500ms ease-in-out,
              color 100ms ease-in-out;
}

div.menu .burger.collapsed .bar {
  color: #ccc;

  width: 48px;
  height: 8px;
}

div.menu .burger:hover .bar {
  color: #fff;
}

div.menu .burger.collapsed .bar:nth-child(2) {
  transform: rotate(45deg);
}

div.menu .burger.collapsed .bar:nth-child(3) {
  transform: rotate(-45deg);
}

div.menu .burger.collapsed .bar:nth-child(1), 
div.menu .burger.collapsed .bar:nth-child(4) {
  width: 0;
}

div.menu .burger .bar:first-child {
  margin-top: 0;
}

div.menu .burger .bar:nth-child(3) {
  margin-top: -8px;
}