* { 
  margin: 0; 
  font-family: arial; 
  box-sizing: border-box; 
}

body { 
  background-color: #212121; 
  height: 100%; 
}

main { 
  background-color: #2e2e2e; 
  width: 80vw; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 5vh; 
  margin-bottom: 5vh; 
  height: 90vh; 
  border-radius: 25px; 
  overflow: hidden; 
  box-shadow: 0 0 16px 8px #161616; 
}

.menu {
  width: 80vw;
  height: 100px;
  text-align: center;
  background-color: #383838;
  transition: background-color 200ms ease-in-out;
}

.menu:hover {
  background-color: #474747;
}

.name {
  position: relative;
  font-size: 32px;
  text-shadow: 0 0 0 #000;
  transition: font-size 200ms ease-in-out, 
              text-shadow 200ms ease-in-out;
}

.name:hover {
  font-size: 3.5em;
  text-shadow: 0 0 16px #000;
}

p {
  color: #e0e0e0;
  font-size: 64px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  position: absolute;
  text-decoration: none;
  color: #e0e0e0;
  line-height: 100px;
  left: 0;
  right: 0;
}
