@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 96px 384px auto;
  grid-template-rows: auto;
  gap: 0 16px;

  margin: 0;

  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#mainWindow {
  display: grid;
  grid-template-rows: 128px auto;
  grid-template-columns: 100%;
  justify-content: center;
  grid-column: 2;
  grid-row: 1;
  height: 100%;
}

#cos {
  grid-column: 3;
}

#upgradesMenu {
  position: relative;
  display: grid;
  grid-template-columns: auto 64px;

  left: -320px;
  height: 100%;
  width: 384px;
  text-align: center;
  z-index: 2137;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  transition: left 400ms ease-in-out;
  backdrop-filter: blur(8px);
}

#upgradesMenu.open {
  left: 0;
}

#upgradesMenu > .content {
  display: grid;
  grid-template-rows: 39px calc(100vh - 48px);
  gap: 9px;
}

#upgradesMenu > .content > .header {
  font-size: 32px;
  margin-top: 4px;
  font-weight: 700;
  text-transform: uppercase;
}

#upgradeList {
  height: 100%;
  padding: 0;
  overflow-y: auto;
}

#upgradeList::-webkit-scrollbar {
  background-color: transparent;
}

#upgradeList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

#upgradeList .upgrade {
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-columns: 25% auto 25%;
  grid-template-rows: 20px auto 20px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 8px auto;
  border-radius: 4px;
  width: 80%;
  height: 64px;
  transition: background-color 200ms ease-in-out;
}

#upgradeList .upgrade:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#upgradeList .upgrade .img {
  background-size: cover;
  grid-row: 1 / 4;
  grid-column: 1;
}

#upgradeList .upgrade .header {
  grid-column: 2 / 3;
  grid-row: 1;
}

#upgradeList .upgrade .desc {
  font-size: 10px;
  overflow: hidden;

  grid-column: 2;
  grid-row: 2;
}

#upgradeList .upgrade .price {
  display: flex;
  justify-content: center;
  font-size: 11px;
  grid-column: 2;
  grid-row: 3;
}

#upgradeList .upgrade .count {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 56px;
  line-height: 1.1;

  grid-column: 3;
  grid-row: 1 / 4;
}

#upgradesMenu #closeButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  bottom: 0;
  width: 64px;
  background-color: rgba(5, 2, 2, 0.05);

  box-shadow: 0 0 4px rgba(0, 0, 0, 0);

  transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;

  cursor: pointer;
}

#upgradesMenu #closeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.125);
}

#upgradesMenu #closeButton > .bar {
  position: absolute;
  
  width: 32px;
  height: 4px;
  background-color: white;
  transition: transform 100ms ease-in-out;
}

#upgradesMenu #closeButton > .bar:nth-child(1) {
  transform: translateY(10px) rotate(-45deg);
}

#upgradesMenu #closeButton > .bar:nth-child(2) {
  transform: translateY(-10px) rotate(45deg);
}

#upgradesMenu.open #closeButton > .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

#upgradesMenu.open #closeButton > .bar:nth-child(2) {
  transform: translateY(-10px) rotate(-45deg);
}

#counter {
  width: 100%;
  text-align: center;
  font-size: 48px;
}

#bred {
  background-image: url('images/bred.png');
  background-size: cover;
  grid-row: 2;
  width: 100%;
  max-width: 100%;
  transition: transform 100ms ease;
  cursor: pointer;
}

#bred:active {
  transform: rotate(1deg);
}

#particleContainer {
  grid-row: 2;
}

particle {
  left: 0;
  top: 0;
  pointer-events: none;
  position: fixed;
  opacity: 0;
}