* {
  margin: 0; 
  font-family: Arial;
  user-select: none;
}

body {
  height: 100vh;
  width: 100vw;
}

#mainWindow {
  height: 100%;
}

p {
  font-size: 48px;
}

#bred {
  background-image: url('images/bred.png');
  background-size: cover;
  height: 512px;
  width: 512px;
}

#bred.clicked{
  transform: translate(3px, 3px);
}

particle{
  left: 0;
  top: 0;
  pointer-events: none;
  position: fixed;
  opacity: 0;
}